<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="tests"> 
 <test thread-count="1" name="completeorder">
  	<parameter name="username" value="supri2007@gmail.com"/>
  	<parameter name="password" value="shilpa009"/>
  	<parameter name="quantity" value="3"/>
  	<parameter name="size" value="L"/>
  	<parameter name="color" value="blue"/>
  	<classes>
      <class name="ecommercetest.productPageVerification"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="contact">
<parameter name="username" value="supri2007@gmail.com"/>
  	<parameter name="password" value="shilpa009"/>
  	
  		<classes>
      <class name="ecommercetest.ContactUs"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="signup">
  	<parameter name="email" value="sagarwal@tatatrusts.org"/>
  	<parameter name="password" value="shilpa009"/>
  	<parameter name="firstname" value="test"/>
  	<parameter name="lastname" value="name"/>
  	<classes>
      <class name="ecommercetest.NewUser"/>
    </classes>
	 </test> 
	<test thread-count="1" name="addtocartloggedout">
  	<classes>
      <class name="ecommercetest.Addtocartloggedout"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="search">
  	<classes>
      <class name="ecommercetest.search"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="add to wishlist">
  	<classes>
      <class name="ecommercetest.Wishlist"/>
    </classes>
  </test> <!-- Test -->
  </suite> <!-- Suite -->


 